* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: black;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: system-ui, sans-serif;
}

/* Header / Nav */

.site-header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.brand img {
    position: sticky;
    top: 0;
    width: 120px;
    height: 120px;
    object-fit: contain;
    z-index: 999;
}

.nav-links {
    position: sticky;
    top: 0;
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.nav-links li{
    float: left;
}
.nav-links a {
    font-family: Impact, sans-serif;
    font-size: 23px;
    background-image: linear-gradient(to right, #fa8c16, #f7de20);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 999px;
}

/* Hover */
.nav-links a:hover {
    background-image: linear-gradient(to right, #8a24a3, #d38ae5);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img {
    position: relative;
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    opacity: 0.9;
    filter: brightness(0.5);
}
.banner h1 {
    position: absolute;
    margin-top: -15px;
    text-align: center;
    font-family: Impact, sans-serif;
    font-size: 52px;
    background-image: linear-gradient(to right, #fa8c16, #f7de20);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
}
#characters {
    position: relative;
    text-align: center;
    margin-top: -20px;
}
#characters p {
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 24px;
    font-size: 18px;
}
.label {
    font-size: 18px;
    color: white;
    opacity: .6;
}
#characters h2 {
    font-size: 30px;
    margin-top: 80px;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.grid-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.grid-wrap:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    margin-top: 20px;
    box-shadow: 0 3px 7px 0 rgb(76, 76, 76);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px 0 gray;
}
.container {
    padding: 2px 16px;
}
.site-footer p{
    color: rgb(135, 135, 135);
    font-size: 14px;
    text-align: center;
    margin-top: 100px;
}