* {
    background-color: black
}
.photo {
    display: flex;
    width: 450px;
    height: 450px;
    object-fit: fill;
    margin-top: -100px;
    opacity: 0.5;
}

.audio {
    margin-left: 560px;
    margin-top: 100px;
    animation-name: fade-in;
    animation-duration: 5s;
}

p {
    color: rgb(88, 88, 88);
    text-align: center;
    font-size: 19px;
    animation-name: fade-in;
    animation-duration: 5s
}
@keyframes fade-in {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1
    }
}
.footer {
    margin-top: 100px;
    text-decoration: none;
}