html {
    scroll-behavior: smooth;
}

.site-header {
    background-color: black;
    color: white;
}

.nav {
    max-width: 1100px;
}
.brand {
    display: flex;
    padding: 0;
    margin-left: 0px;
    width: 120px;
    height: 120px;
}
.nav-links {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    flex-direction: row;
    margin-left: 1000px;
    margin-top: -70px;
}
.nav-links a {
    font-family: Impact;
    font-size: 23px;
    display: flex;
    margin-top: -10px;
    flex-direction: row;
    background-image: linear-gradient(to right, #fa8c16, #f7de20);
    background-clip: text;
    color: transparent;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 999px;
    text-indent: 30px;
}
.home:before {
    background-image: linear-gradient(to right, #8a24a3, #d38ae5);
    background-clip: text;
    color: transparent;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.3s ease;
}
.home:hover {
    clip-path: inset(0 0 0 0)
}
.lore:hover {
    color: transparent;
    background-image: linear-gradient(to right, #8a24a3, #d38ae5);
    background-clip: text;
    transition: background-image 0.3s ease-in-out;
}
.characters:hover {
    color: transparent;
    background-image: linear-gradient(to right, #8a24a3, #d38ae5);
    background-clip: text;
    transition: background-image 0.3s ease-in-out;
}