* {
    scroll-behavior: smooth;
    background-color: black;
}

.site-header {
    background-color: black;
    color: white;
}

.nav {
    max-width: 1100px;
}
.brand {
    display: flex;
    padding: 0;
    margin-left: 0px;
    width: 120px;
    height: 120px;
}
.nav-links {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    flex-direction: row;
    margin-left: 1000px;
    margin-top: -70px;
}
.nav-links a {
    font-family: Impact;
    font-size: 23px;
    display: flex;
    margin-top: -10px;
    flex-direction: row;
    background-image: linear-gradient(to right, #fa8c16, #f7de20);
    background-clip: text;
    color: transparent;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 999px;
    text-indent: 30px;
}

.home:hover {
    color: transparent;
    background-image: linear-gradient(to right, #8a24a3, #d38ae5);
    background-clip: text;
    transition: background-image 0.3s ease-in-out;
}
.lore:hover {
    color: transparent;
    background-image: linear-gradient(to right, #8a24a3, #d38ae5);
    background-clip: text;
    transition: background-image 0.3s ease-in-out;
}
.characters:hover {
    color: transparent;
    background-image: linear-gradient(to right, #8a24a3, #d38ae5);
    background-clip: text;
    transition: background-image 0.3s ease-in-out;
}
.banner {
    display: flex;
    margin-left: -90px;
    opacity: 0.9;
    filter: brightness(0.5)
}
.description {
    font-family: Impact;
    background-color: black;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    justify-content: center;
    margin-left: 130px;
}