* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: black;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: system-ui, sans-serif;
}

/* Header / Nav */

.site-header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.brand img {
    position: sticky;
    top: 0;
    width: 120px;
    height: 120px;
    object-fit: contain;
    z-index: 999;
}

.nav-links {
    position: sticky;
    top: 0;
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.nav-links a {
    font-family: Impact, sans-serif;
    font-size: 23px;
    background-image: linear-gradient(to right, #fa8c16, #f7de20);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 999px;
}

/* Hover */
.nav-links a:hover {
    background-image: linear-gradient(to right, #8a24a3, #d38ae5);
}

/* Banner */

.banner img {
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    opacity: 0.9;
    filter: brightness(0.5);
    border-bottom: 5px solid #747474;
    z-index: -999;
}

/* Description */
.details {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 0 30px;
}
.infoText {
    color: white;
}
.infoList {
    color: white;
}
p {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-wrap-mode: initial;
    text-wrap-style: pretty;
    margin: 0 0 10px;
}
.details .info-column {
    margin-top: 50px;
    flex-grow: 2;
    text-align: left;
    display: block;
}
.details .info-column .infoBlock {
    margin-bottom: 8vh;
}
.details .info-column .infoBlock .infoLabel {
    color: white;
    font-size: 14px;
    opacity: .6;
    z-index: 1;
}
.details .info-column .infoBlock .infoList {
    font-size: 18px;
    font-weight: 400;
}
.details .sheet {
    width: 375px;
    height: 900px;
    display: block;
    float: right;
    margin-left: 15px;
    margin-top: -675px;
    z-index: 100;
}
